{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keyword" content="fest, persona, mit, mit-adt, mit-adt-university, mit-adt-university-fest, persona-fest, mit-fest, university-fest, mit-university, college-fest, fests-india" />
    <title>Home || MIT Persona Fest - 2023</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link
      rel="shortcut icon"
      href="{%static 'images/persona-image.png'%}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{%static 'css/styles.css'%}" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="{%static 'images/logo.png'%}" alt="Logo" />
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="{% url 'about'%}">About Us</a></li>
          <li><a href="#event">Persona Events</a></li>
          <li><a href="{% url 'registration'%}">Registration</a></li>
          <li><a href="./schedule/schedule.html">Schedule</a></li>
          <li><a href="{% url 'gallery'%}">Gallery</a></li>
          <li><a href="{% url 'Contactus'%}">Contact Us</a></li>
        </ul>

      <div class="mobile-menu-icon">
        <div class="hamburger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </nav>

    <div class="hero-cont">
    <section class="hero-section">
      <div class="hero-section-left">
        <div>
          <div class="persona-fest">
            <h1>PERSONA FEST</h1>
          </div>
          <div class="dash">
            <img src="{%static 'images/dash.png'%}" alt="" />
          </div>
          <div class="persona-date">
            <h2>16-18 Feb 2023</h2>
          </div>

          <a href="{% url 'registration'%}" style="text-decoration: none; color: #fff"
            class="register-now register-btn">
            <div class="register-now">Register now</div>
          </a>
        </div>
      </div>
      <div class="hero-section-right">
        <img src="{%static 'images/persona-image.png'%}" alt="" />
      </div>
    </section>
  </div>
  </header>

  <div class="marquee">
    <marquee behavior="" direction="left"><p><b>MIT ADT PERSONA FEST</b> | 16-18 FEB 2023 - BIGGEST TECHNO CULTURAL
      FEST</p></marquee>
  </div>

  <div class="pmain">
  <div class="about-persona">
    <div class="about-persona-text">
      <h1>
        What's up with<br />
        Persona Fest 2023?
      </h1>
      <div class="dash">
        <img class="dash-image" src="{%static 'images/dash.png'%}" alt="" />
      </div>
      <div class="about-content">
        Biggest techno-cultural event of MIT ADT University. 
        The fest is a celebration of creativity and innovation, and it brings together students, faculty, and industry professionals for a weekend of fun and learning. 
        The event features live music performances, workshops, competitions, and exhibitions, in various fields. 
        With a diverse range of activities, Persona Fest 2023 promises to be an unforgettable experience for all attendees.
      </div>
    </div>
    <img class="about-image" src="{%static 'images/about-image.png'%}" alt="" />
  </div>
  </div>

  <div class="counter-container">
    <section id="section_counter">
      <div class="counter-container">
        <div class="counter-grid">
          <div class="counter-item one">
            <div class="counter-container-main">
              <span>
                <h1 class="counter" data-target="10000">0</h1>
              </span><span class="plus"><sup>+</sup></span>
            </div>
            <h1 class="counter-text">Participants</h1>
          </div>
          <div class="counter-item two">
            <div class="counter-container-main">
              <span>
                <h1 class="counter" data-target="125">0</h1>
              </span><span class="plus"><sup>+</sup></span>
            </div>
            <h1 class="counter-text">University & Institute</h1>
          </div>
          <div class="counter-item three">
            <div class="counter-container-main">
              <span>
                <h1 class="counter" data-target="100">0</h1>
              </span><span class="plus"><sup>+</sup></span>
            </div>
            <h1 class="counter-text">Eminent</h1>
          </div>
          <div class="counter-item four">
            <div class="counter-container-main">
              <span>
                <h1 class="counter" data-target="69">0</h1>
              </span><span class="plus"><sup>+</sup></span>
            </div>
            <h1 class="counter-text">Techno Cultural Event</h1>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="event-category" id="event">
    <div class="heading">
      <h1>EVENT CATEGORIES</h1>
      <div class="event-dash">
        <img src="{%static 'images/dash.png'%}" alt="" />
      </div>
    </div>

    <a href="{% url 'registration'%}">
      <div class="categories">
        <div class="cards-list">
          <div class="card 1">
            <div class="top">
              <img src="{%static 'images/card-1-image.png'%}" alt="" />
            </div>

            <div class="bottom">
              <h2 class="persona-dates">FEB 16-18</h2>
              <!-- <div class="vertical"></div> -->
              <h2 class="event-name">"CARNIVAL" CULTURAL EVENTS</h2>
            </div>
          </div>
    </a>

    <a href="{% url 'technical'%}">
      <div class="card 2">
        <div class="top">
          <img src="{%static 'images/card-2-image.png'%}" alt="" />
        </div>

        <div class="bottom">
          <h2 class="persona-dates">FEB 16-18</h2>
          <!-- <div class="vertical"></div> -->
          <h2 class="event-name" >Technical Events</h2>
        </div>
      </div>
    </a>
    <a href="#">
    <div class="card 3">
      <div class="top">
        <img src="{%static 'images/card-3-image.png'%}" alt="" />
      </div>

      <div class="bottom">
        <h2 class="persona-dates">FEB 16-18</h2>
        <!-- <div class="vertical"></div> -->
        <h2 class="event-name">Manet Events</h2>
      </div>
    </div>
</a>

    <a href="{% url 'food'%}">
    <div class="card 4">
      <div class="top">
        <img src="{%static 'images/card-4-image.png'%}" alt="" />
      </div>

            <div class="bottom">
              <h2 class="persona-dates">FEB 16-18</h2>
              <!-- <div class="vertical"></div> -->
              <h2 class="event-name"> Food Technology Events</h2>
            </div>
          </div></a>

      <a href="{% url 'management'%}">

    <div class="card 5">
      <div class="top">
        <img src="{%static 'images/card-5-image.png'%}" alt="" />
      </div>

            <div class="bottom">
              <h2 class="persona-dates">FEB 16-18</h2>
              <!-- <div class="vertical"></div> -->
              <h2 class="event-name">Management Events</h2>
            </div>
          </div>

          </a>


          <a href="{% url 'architecture'%}">
          <div class="card 6">
            <div class="top">
              <img src="{%static 'images/card-6-image.png'%}" alt="" />
            </div>

      <div class="bottom">
        <h2 class="persona-dates">FEB 16-18</h2>
        <!-- <div class="vertical"></div> -->
        <h2 class="event-name">Architecture Events</h2>
      </div>
    </div>
  </a>
  <a href="{% url 'design'%}">
    <div class="card 7">
      <div class="top">
        <img src="{%static 'images/card-7-image.png'%}" alt="" />
      </div>

      <div class="bottom">
        <h2 class="persona-dates">FEB 16-18</h2>
        <!-- <div class="vertical"></div> -->
        <h2 class="event-name">Design Events</h2>
      </div>
    </div>
  </a>

    </div>
    </div>
  </section>

  <div class="video-section">
    <h1>WATCH THE PERSONA FEST TRAILER</h1>
    <iframe  src="https://www.youtube.com/embed/SAFpmVihosc" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <div class="sponsers">
    <div class="our-sponser">
      <h1>OUR SPONSERS</h1>
      <img src="{%static 'images/dash.png'%}" alt="" />
    </div>
    <div class="sponser-logo">
      <img src="{%static 'images/sponser-1.png' %}" alt="" />
      <img src="{%static 'images/sponser-2.png' %}" alt="" />
      <img src="{%static 'images/sponser-3.png' %}" alt="" />
      <img src="{%static 'images/sponser-4.png' %}" alt="" />
      <img src="{%static 'images/sponser-5.png' %}" alt="" />
    </div>
  </div>



  <footer class="padding_4x">
    <div class="flex">
      <section class="flex-content padding_1x">
        <h3>About Us</h3>
        <a>Persona Fest is amongst the most awaited techno cultural event
          being organized by the MIT-ADT University.. Read More
        </a>
      </section>
      <section class="flex-content padding_1x">
        <h3>Other Links</h3>
        <a href="{% url 'about'%}">Patron</a>
        <a href="{% url 'registration'%}">Register Online</a>
        <a href="{% url 'gallery'%}">Photo Gallery</a>
      </section>
      <section class="flex-content padding_1x">
        <h3>Important Links</h3>
        <a href="#event">Event Schedule</a>
        <a href="{% url 'registration'%}">Online Registration Form</a>
        <a href="#">About MIT ADT University</a>
      </section>
      <section class="flex-content padding_1x">
        <h3>Get In Touch</h3>
        <a href="#">
          <div class="social facebook">
            <img src="{%static 'images/facebook.png'%}" alt="" />
            <p>Facebook</p>
          </div>
        </a>
        <a href="#">
          <div class="social">
            <img src="{%static 'images/instagram.png'%}" alt="" />
            <p>Instagram</p>
          </div>
        </a>
        <a href="mailto:registration.mitpersonafest@mituniversity.edu.in">
          <div class="social">
            <img src="{%static 'images/gmail.png'%}" alt="" />
            <p>registration.mitpersonafest<br />@mituniversity.edu.in</p>
          </div>
        </a>
      </section>
      <section class="flex-content padding_1x">
        <h3>Newsletter</h3>
        <p>You can trust us. we only send promo offers</p>
        <fieldset class="fixed_flex email-field">
          <input type="email" name="newsletter" placeholder="Your Email Address" />
          <img src="{%static 'images/send-icon.png'%}" alt="" />
        </fieldset>
      </section>
    </div>
    <p>© Copyright MIT-ADT PersonaFest - 2023 | All Rights Reserved</p>
  </footer>

  <script src="http://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
  <script src="{%static 'js/index.js'%}"></script>
</body>

</html>