body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

nav {
  background-color: #291f64 !important;
  position: fixed;
}

#container {
  padding-top: 50px;
  border: 1px solid blue;
  height: max-content;
  width: 600px;
}
