@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: #291f64 !important;
}

.schedule-container {
  min-height: 100vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
