body {
  overflow-x: hidden;
}

nav {
  background-color: #291F64 !important;
}

.container {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 12rem;
  margin-bottom: 100px;
  color: #464646;
  background-image: url(https://ibb.co/qRXmkB2);
}

#heading {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
}

.about-head h2 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  color: #464646;
}

.patron-grid {
  display: gird;
  grid-template-columns: 1fr 1fr;
}

.container p {
  padding-top: 7rem;
  font-size: 3rem;
}

#textbold {
  color: #6f0098;
  font-family: "Poppins", sans-serif;
}

.about-container img,
.about-head img {
  width: 40rem !important;

}

.patron-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.patron-containeer{
  margin: 0 9rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.patron-containeer h2{
  font-size: 55px;
  color: #464646;
}
.patron-containeer h4{
  font-size: 24px;
  margin-bottom: 3rem;
  color: #464646;
}
.patron-containeer img{
  width: 40rem;
  margin-bottom: 40px;
}

.text-container p{
  text-align: center;
  padding: 0%;
  font-size: 20px;
  color: #000;
}

.patron-card {
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 992px) {
  .patron-grid {
      grid-template-columns: 1fr;
  }
  .patron-card {
      margin: 3rem 0 ;
  }
  .container {
    margin-bottom: 0;
    padding-top: 8rem;
  }
}

@media screen and (max-width: 800px){
  .container{
      margin-left: 15px;
  }
  #heading{
      font-size: 40px;
  }
  #paragraph{
      font-size: 25px;
  }
  #patron-heading{
      font-size: 40px;
  }
  .about-container img,
  .about-head img {
    width: 30rem !important;
  }
  .about-container p {
    font-size: 16px;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 572px){
  #heading{
    font-size: 35px;
  }
  #paragraph{
      font-size: 20px;
  }#patron-heading{
      font-size: 35px;
  }
  .about-container img,
  .about-head img {
    width: 20rem !important;
  }
}