nav {
  background-color: #291f64 !important;
}

.container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 12rem !important;
  margin-bottom: 100px;
  color: #464646;
  background-image: url(https://ibb.co/qRXmkB2);
}

#heading {
  font-size: 55px;
    font-size: 55px;
    font-family: "Poppins", sans-serif;
}

.patron-grid {
  display: gird;
  grid-template-columns: 1fr 1fr;
}

p {
    padding-top: 7rem;
    /* font-weight: bold; */
    font-size: 3rem;
}

#textbold {
    color: #6f0098;
    font-family: "Poppins", sans-serif;
}
